@model ChatsModel
@{
    Layout = null;
    List<Models.Grupo> misGrupos = ViewData["MisGrupos"] as List<Models.Grupo>;
}

@if (misGrupos != null)
{
    @foreach (var grupo in misGrupos)
    {
        <div class="cuadroChat" id="chat" onclick="irAGrupo(@grupo.IdGrupo);">
            <div class="cuadroChat_imagen" id="chat1"></div>
            <label class="cuadroChat_texto" id="nombreGrupo">@grupo.Nombre</label>
        </div>
    }
}

<script>
    function irAGrupo(idGrupo) {
        console.log(idGrupo)
        $("#vistasContainer").load("Partials/_Chat?idGrupo=" + idGrupo)
    } 
</script>

@section Scripts {
    
}

<link rel="stylesheet" href="~/css/chats.css" />