@page
@{
    Layout = null;
}
<div class="miPerfil">
    <div class="header">
        <div id="nombreUsuario">Angel de jesus</div>

        <div class="dropdown dropleft chat-options">
            <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Opciones">
                <i class='bx bx-menu bx-md bx-tada-hover'></i>
            </a>
            <br>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="irAMiPerfil()">
                    <i class='bx bxs-user' style="color: #D30000;"></i>&nbsp;&nbsp;Mi perfil
                </a>
                <a class="dropdown-item" href="#">
                    <i class='bx bx-log-out' style="color: #D30000;"></i>&nbsp;&nbsp;Cerrar sesión
                </a>
            </div>
        </div>
    </div>
    @* <header>
        <div id="nombreUsuario">Angel de jesus</div>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class='bx bx-menu'></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#" id="accion1">Action 1</a></li>
                    <li><a class="dropdown-item" href="#" id="accion2">Action 2</a></li>
                    <li><a class="dropdown-item" href="#" id="accion3">Action 3</a></li>
                    <li><a class="dropdown-item" href="#" id="accion4">Action 4</a></li>
                </ul>
            </div>
        </div>
    </header> *@

    <div class="informacion">

        <div id="imagenDePerfil" class="rounded-circle"></div>
        @* <img src="~/img/perfil.jpg" id="imagenDePerfil"> *@

        <div class="username_container">
            <input type="text" name="" id="nombreDeUsuario" value="Nombre">
            <a type="button" class="agregar_boton">
                <i class='bx bx-plus-circle bx-sm bx-tada-hover' style="color: #D30000;"></i>
            </a>
        </div>

        

        <div class="correos">

            <div class="row">
                <div class="col-sm-4">
                    <label>Correo principal: </label>
                </div>
                <div class="col-sm-4">
                    <input type="email" name="" id="correoPrincipal" value="Correo electrónico">
                </div>

                <div class="col-sm-3">
                    <a type="button" class="agregar_boton">
                        <i class='bx bx-plus-circle bx-sm bx-tada-hover' style="color: #D30000;"></i>
                    </a>
                </div>
                
            </div>

            <div class="row" style="margin-top:10px;">
                <div class="col-sm-4">
                    <label>Correo secundario: </label>
                </div>
                <div class="col-sm-4">
                    <input type="email" name="" id="correoSecundario" value="Correo electrónico">
                </div>

                <div class="col-sm-3">
                    <a type="button" class="agregar_boton">
                        <i class='bx bx-plus-circle bx-sm bx-tada-hover' style="color: #D30000;"></i>
                    </a>
                </div>
                
            </div>
        </div>

        <div class="estado">
            <label for="estado">Estado: </label>
            <input type="text" name="estado" id="estado" value="Estado">
            <a type="button" class="agregar_boton">
                <i class='bx bx-plus-circle bx-sm bx-tada-hover' style="color: #D30000;"></i>
            </a>
        </div>

    </div>
</div>
<link rel="stylesheet" href="~/css/miPerfil.css" />