.header {
    background-color: #D30000;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
}

.body {
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body p {
    color: rgb(68, 68, 68);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}