.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    background-color: #D30000;
    display: flex;
    flex-flow: row wrap;
    height: 80px;
    width: 100%;
}

.chat-footer {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    vertical-align: bottom;
}

.chat-messages {
    overflow: auto;
    height: 530px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-messages::-webkit-scrollbar {
    width: 10px;
}

.chat-messages::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chat-messages::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
    border-radius: 10px;  
}

.chat-title {
    color: white;
    width: 25%;
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-description {
    width: 45%;
    text-align: center;
    color: white;
    font-size: medium;
    margin-top: 20px;
}

.group-options {
    color: white;
    width: 25%;
    text-align: right;
    margin-top: 20px;
}

/* .chat-title {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
}

.chat-description {
    text-align: center;
    color: white;
    font-size: medium;
    margin-top: 15px;
}

.group-options {
    color: white;
    text-align: right;
    margin-left: 50px;
    margin-top: 15px;
} */

.chat-multimedia {
    width: 15%;
    text-align: left; 
}

.chat-input {
    /* width: 33.33333%; */
    width: 500px;
    height: 40px;
    text-align: left;
    border: none;
    border: solid 1px gray;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    resize: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chat-input:focus {
    outline: none;
}

.chat-input::-webkit-input-placeholder {
    text-align: start;
}

:-moz-placeholder {
    text-align: left;
}

.chat-input::-webkit-scrollbar {
    width: 1em;
}

.chat-send {
    width: 15%;
    text-align: right;
}

.chat-sent-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 350px;
    text-align: right;
    margin-right: 0;
    margin-left: auto;
    height: auto;
}

.chat-sent-message span {
    margin-right: 0;
    margin-left: auto;
    color: #aaa;
}

.chat-sent-message h1 {
    color: #aaa;
    font-size: medium;
}

.chat-sent-message img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.chat-received-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px 0;
    width: 350px;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    height: auto;
}

/* .chat-received-message::after {
    content: "";
    clear: both;
    display: table;
} */

.chat-received-message h1 {
    color: black;
    font-size: medium;
}

.chat-received-message span {
    margin-left: 0;
    margin-right: auto;
    color: #aaa;
}

.chat-received-message img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.fileSelected {
    border-radius: 10px;
    background-color: #aaa;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin-top: 5px;
    width: auto;
    height: auto;
    min-width: 150px;
    align-items: center;
}

.deleteFileButton {
    float: right;
}

.fileName {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.irAbajoIcon {
    display: none; 
    float: right; 
    position: absolute; 
    top: 520px; 
    right: 230px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #D30000; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-left: 110px;
    margin-top: 10px;
    display: none;
}


