.contacto {
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
    cursor: pointer;
    text-align: inherit;
    vertical-align: middle;
    padding: 5px;
    background-color: #d84b4b;
    color: white;
    font-size: medium;
}

.contacto-seleccionado {
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    width: 200px;
    cursor: pointer;
    text-align: inherit;
    vertical-align: middle;
    padding: 5px;
    background-color: #D30000;
    color: white;
    font-size: medium;
}

.contactos-container {
    height: 400px;
}

.listaDeContactos {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    height: 370px;
    width: 480px;
}

.campos-invalidos {
    box-shadow: 0 0 5px 1px red;
}

.campos {
    padding: 0 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.campos:focus{
    outline: none;
    border: 2px solid #9b9b9b;
}