.column {
    float: left;
    width: 25%;
    height: 100%;
    margin-top: 40px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.view_container {
    width: 75%;
    height: 675px;
    box-shadow: 2px 0px 2px rgb(156, 156, 156);
    margin-top: 40px;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
  background: #D30000; 
  border-radius: 10px;
}



.contactos{
   
    font-family: 'Roboto', sans-serif;
    box-shadow: -2px 0px 3px rgb(156, 156, 156);
}

.contactos header{
    padding: 15px 20px;
    font-size: large;
    background-color: #D30000;
    color: white;
    transition: all .3s;
    height: 80px;
    box-shadow: 2px 2px 15px rgb(156, 156, 156);
    border-right: 5px solid #a10000;
}

.contactos header::after {
    content: "";
    display: table;
    clear: both;
}

.tittle {
    float: left;
    font-size: larger;
    font-weight: bold;
    width: 85%;
}

#listaChats{
    min-height: 450px;
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 1px solid #a10000;
}

.cuadroChat{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #bebebe;
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    transition: all .3s;
}

.cuadroChat:hover{
    border-bottom: 1px solid #D30000;
}

.cuadroChat_imagen{
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    cursor: pointer;

    background-position: center;
    background-size: cover;
}

/* ESTAS PROPIEDADES SE VAN A PONER EN EL JS DINAMICAMENTE */
#chat1{
    background-image: url("https://www.w3schools.com/howto/img_avatar2.png");
}

#chat2{
    background-image: url("https://www.w3schools.com/howto/img_avatar2.png");
}


.cuadroChat_texto{
    margin-left: 15px;
    cursor: pointer;
}

.areaBotones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    border-top: 1px solid #bebebe;
    border-right: 1px solid #a10000;
}

.btn{
    background-color: #D30000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    transition: all .3s;
}

.btn:hover{
    background-color: #A10000;
}

.input-usuario-contacto {
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
}

.campo-nuevo-contacto {
    margin-top: 15px;
}

.mensajeNuevoContacto {
    color: red;
    margin-left: 10px;
    margin-top: 20px;
    display: none;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #D30000; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-left: 110px;
    margin-top: 10px;
    display: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}