.tarjeta{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgb(156, 156, 156);
    transition: all .3s;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    height: 800px;

    background-image: url("../img/wave.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.tarjeta:hover{
    box-shadow: 2px 2px 15px rgb(112, 112, 112);
}

.header {
    background-color: #D30000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.titulo {
    color: white;
}

.contenedorTitulo {
    background-color: #D30000;
}

.boton{
    background-color: #D30000;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    outline: none;
    transition: all .3s;
}

.boton_invalid {
    box-shadow: 0 0 5px 1px red;
}

input:valid {
    box-shadow: 0 0 5px 1px green;
}

.boton:hover{
    background-color: #a10000;
}

.boton:focus {
    outline: none;
}

.formulario__input{
    width: 100%;
    padding: 0 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.formulario__input:focus{
    outline: none;
    border: 2px solid #9b9b9b;
}

.formulario__input-error{
    border: 2px solid #D30000;
}

.contenedorBoton {
    margin-top: 30px;
    min-width: 200px;
    max-width: 300px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.contenedorBotonCancelar {
    min-width: 200px;
    max-width: 300px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.contenedorInputs {
    margin: 40px;
}