@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css"/>

<div class="d-flex justify-content-center">
    <div class="tarjeta-login col-xl-4 col-lg-4 col-md-6">
        <div class="tarjeta-login__logo">
            <img src="~/img/Logo.png" alt="Logo TypeMe">
        </div>

        <form class="formulario" method="POST">
            <label for="usuario" class="formulario__label">Usuario</label><br>
            <input name="usuario" id="Campo-usuario" type="text" class="formulario__input"><br>

            <label for="password" class="formulario__label">Contraseña</label><br>
            <input name="password" id="Campo-contrasenia" type="password" class="formulario__input"><br>

            <span id="mensajeError" style="color: red; display:none">Usuario y/o contraseña incorrectos. Por verifique la información.</span>

            <submit class="boton-login" id="login">Iniciar sesión</submit>
        </form>    
        <div class="boton-registrar" id="registrar">Crear cuenta</div>
    <div>
</div>


<script>

    const botonLogin = document.getElementById("login");
    const botonRegistrar= document.getElementById("registrar");  
    const inputUsuario = document.getElementById("Campo-usuario");
    const inputContrasenia = document.getElementById("Campo-contrasenia");

    
    botonLogin.addEventListener('click', e => {
        e.preventDefault();

        if(camposCompletos()){
            iniciarSesion();
        }else{
            mostrarCamposErroneos();
        }
    });

    botonRegistrar.addEventListener('click', () => {
        registrarCuenta();
    });

    inputUsuario.addEventListener("focus", () => {
        inputUsuario.classList.remove("formulario__input-error");
    });

    inputContrasenia.addEventListener("focus", () => {
        inputContrasenia.classList.remove("formulario__input-error");
    });


    function iniciarSesion()
    {
        
        $("#login").prop("disabled", true)
        var infoTyper = {
            identificadorTyper: inputUsuario.value,
            informacionComplementaria: inputContrasenia.value
        }

        let url = "http://localhost:4000/typers/loginTyper";
        
        $.ajax({
            type: "POST",
            url: "http://localhost:4000/typers/loginTyper",
            dataType: "json",
            async: true,
            contentType: "application/json",
            data: JSON.stringify(infoTyper),
            success: function(response) {
                console.log(response)
                if (response.status === true) {
                    
                    agregarSesion(response.result);
                    
                }
                else {
                    $("#mensajeError").show()
                    $("#login").prop("disabled", true)
                }
            },
            error: function(response) {
                console.log(response)
            }
        })
        
    }

    function agregarSesion(typer) {
        $.ajax({
            type: "POST",
            url: "/Login/AgregarSesion",
            contentType: "application/json",
            data: JSON.stringify(typer),
            success: function(result) {
                if (result.status === true)
                {
                    window.location.pathname = '/Principal'
                }
                else {
                    alert("Ocurrió un error")
                }
            },
            error: function() {
                alert("Ocurrió un al intentar conectarse al servidor")
            }
        })
    }


    function camposCompletos()
    {
        if(inputUsuario.value.trim() != "" && inputContrasenia.value.trim() != ""){
            return true;
        }else{
            return false;
        }    
    }

    function mostrarCamposErroneos()
    {
        if(inputUsuario.value.trim() == "" ){
            inputUsuario.classList.add("formulario__input-error");
        }
        
        if(inputContrasenia.value.trim() == "" ){
            inputContrasenia.classList.add("formulario__input-error");
        }
    }

    function registrarCuenta()
    {
        window.location.pathname = '/RegistrarCuenta'
    }

</script>
