@page
@model PrincipalModel

<div class="row">
    
    <div class="column">
        <div class="contactos">
            <header id="miCuenta">
                <div class="tittle">
                    Chats
                </div>


                <div class="dropdown dropleft chat-options">
                    <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Opciones">
                        <i class='bx bx-menu bx-md bx-tada-hover'></i>
                    </a>
                    <br>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="irAMiPerfil()" style="cursor: pointer;">
                            <i class='bx bxs-user' style="color: #D30000;"></i>&nbsp;&nbsp;Mi perfil
                        </a>
                        <a class="dropdown-item" onclick="abrirListaMisContactos()" style="cursor: pointer;">
                            <i class='bx bxs-contact' style="color: #D30000;"></i>&nbsp;&nbsp;Contactos
                        </a>
                        <a class="dropdown-item" onclick="cerrarSesion()" style="cursor: pointer;">
                            <i class='bx bx-log-out' style="color: #D30000;"></i>&nbsp;&nbsp;Cerrar sesión
                        </a>
                    </div>
                </div>
            </header>
            <div id="listaChats">
              <div class="loader" id="loader"></div>
            </div>
            <div class="areaBotones">
                <button class="btn" id="nuevoChat" data-toggle="modal" data-target="#nuevoChatModal">Nuevo chat</button>
                <button class="btn" id="nuevoContacto" data-toggle="modal" data-target="#agregarContactoDialog">Nuevo contacto</button>
            </div>
        </div>
    </div>
    

    <div id="vistasContainer" class="view_container"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="nuevoChatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Nuevo chat</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      
      <div class="modal-body">
	  
        <div class="modal-split">
            <div class="form-group row">
                <label class=" col-sm-5 col-form-label">Nombre del chat/grupo: </label>
                <div class="col-sm-7">
                    <input type="text" class="campos" id="nombreDeGrupo">
                </div>
            </div>

            <div class="form-group row">
                <label class=" col-sm-5 col-form-label">Descripción: </label>
                <div class="col-sm-7">
                    <input type="text" class="campos" id="descripcionDeGrupo">
                </div>
            </div>

            <span id="mensajeError" style="color: red; display:none">Por favor ingresa toda la información solicitada.</span>
		</div>
		
		<div class="modal-split contactos-container">
            <p>Selecciona los integrantes del grupo</p>
            <span id="mensajeErrorContactos" style="color: red; display:none">Por favor selecciona al menos un contacto.</span>
            <table id="listaDeContactos">
                <tbody class="listaDeContactos" id="listaDeContactosBody">

                </tbody>
            </table>
		</div>

      </div>

      <div class="modal-footer">
 <!--Nothing Goes Here but is needed! -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #D30000;">
        <h5 class="modal-title" id="modalDialogTitle" style="color: white;"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div id="mensajeGrupoCreado" style="display: none;">
              <h6>¡Nuevo grupo creado!</h6>
              <p>
                  El grupo fue creado exitosamente.
              </p>
          </div>

          <div id="mensajeErrorCreacionGrupo" style="display: none;">
              <h6>¡Ups!</h6>
              <p>Error al crear el grupo.</p>
          </div>

          <div id="mensajeErrorServidor" style="display: none;">
              <h6>¡Ups, parece que algo pasó!</h6>
              <p>No pudimos atender tu solicitud ahora mismo. Por favor intenta más tarde.</p>

              <p>Lamentamos el inconveniente.</p>
          </div>

          <div id="mensajeContactoAgregado" style="display: none;">
              <h6>¡<b id="nuevoContactoUsername"></b> y tú ahora son amigos!</h6>
              <p>Contacto agregado.</p>
          </div>

          <div id="mensajeContactoNoAgregado" style="display: none;">
              <p id="mensajeContactoNoAgregado"></p>
          </div>
      </div>
      <div class="modal-footer">
        <button id="botonAceptar" type="button" class="btn btn-danger" style="width: 100px; padding: 10px;"
        data-dismiss="modal" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="agregarContactoDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #D30000;">
        <h5 class="modal-title" style="color: white;">Nuevo contacto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row" style="padding: 10px;">
            <label class="input-usuario-contacto">Usuario: </label>
            <div >
                <input type="text" class="campos campo-nuevo-contacto" id="usuarioContacto">
            </div>  
            <span id="mensajeNuevoContacto" class="mensajeNuevoContacto">El usuario no existe</span>
        </div>
        
      </div>
      <div class="modal-footer">
        <button id="botonCancelar" type="button" class="btn btn-danger" style="width: 100px; padding: 10px;"
        data-dismiss="modal" data-dismiss="modal">Cancelar</button>

        <button id="botonAgregarContacto" type="button" class="btn btn-danger" 
            style="width: 150px; padding: 10px;" onclick="agregarContacto()">Agregar contacto</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="misContactosDialog" tabindex="-1" role="dialog" aria-labelledby="misContactosDialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #D30000;">
        <h5 class="modal-title" style="color: white;">Mis contactos</h5>
        <button type="button" class="close" onclick="cerrarMisContactosDialog()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loader2" id="loader2"></div>
        <span id="mensajeErrorMisContactos" style="display: none;"></span>
        <div id="listaMisContactos" class="listaMisContactos">
            
        </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" style="width: 100px; padding: 10px;"
        onclick="cerrarMisContactosDialog()" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

@section Scripts {
    <script>
      var grupoSeleccionado = {}
      var idTyperEnSesion = ""
        $(document).ready(function () {
            $("#loader").show()
            $("#vistasContainer").load("Partials/_Bienvenida")
            $("#listaChats").load("Partials/ChatsAdmin", function() {
              console.log("Ya cargué")
              /*
              $.ajax({
                type: 'GET',
                url: '/Login/ObtenerGruposEnSesion',
                contentType: 'application/json',
                success: function (result) {
                  console.log(result)
                },
                error: function (err) {
                  console.error(err)
                },
              });*/
            })



            var pages = $("#nuevoChatModal").find('.modal-split');
            prep_modal();

            manejarSeleccionDeContactos()
            $('#nuevoChatModal').on('hide.bs.modal', function () {
                $("#nombreDeGrupo").val("")
                $("#descripcionDeGrupo").val("")
                $("#mensajeError").hide();
                while(contactosSeleccionados.length) {
                    contactosSeleccionados.pop();
                }
                contactosYaMostrados = false
                $(atrasBoton).hide();
                $(siguienteBoton).text('Siguiente');
                pages.hide();
                pages.eq(0).show();
            })
            
        })

      
    </script>
    
    <script src="~/js/principal.js"></script>
    <script src="~/js/nuevoChat.js"></script>
    <script src="~/js/nuevoContacto.js"></script>
    
    <script src="~/js/signalrController.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/agregarIntegrantes.js"></script>
    <script src="~/js/salirDeGrupo.js"></script>
    <script src="~/js/infoDeGrupo.js"></script>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<link rel="stylesheet" href="~/css/principal.css" />
<link rel="stylesheet" href="~/css/nuevoChat.css" />
<link rel="stylesheet" href="~/css/infoDeGrupo.css" />

